---

---

<html>
  <head>
    <title>Selección de Idioma</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Selecciona un idioma para visualizar el CV." />
  </head>
  <body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="max-w-4xl w-full px-4">
     

      <!-- Contenedor de columnas -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
        <!-- Columna para Español -->
        <div class="text-center">
            <h1 class="text-3xl font-bold text-center mb-8">Bienvenido</h1>
            <p class="text-lg text-center mb-12">Para ver el currículum en Español</p>
          <p class="text-lg font-semibold mb-4">Pulsa la imagen:</p>
          <a href="/es">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg"
              alt="Bandera de España para acceder al CV en español"
              class="w-32 h-20 mx-auto rounded-md shadow-md hover:shadow-lg hover:scale-105 transition"
            />
          </a>
        </div>

        <!-- Columna para Inglés -->
        <div class="text-center">
            <h1 class="text-3xl font-bold text-center mb-8">Welcome</h1>
            
            <p class="text-lg text-center mb-12">To view the CV in English</p>
          <p class="text-lg font-semibold mb-4">Clic on picture:</p>
          <a href="/en">
            <img
    src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg"
    alt="Flag of the United Kingdom"
    class="w-32 h-20 mx-auto rounded-md shadow-md hover:shadow-lg hover:scale-105 transition"
  />
          </a>
        </div>
      </div>
    </div>
  </body>
</html>