---
const { aboutMe } = Astro.props; 
---
<!-- Se elige generar un section -->
<section id="aboutMe" class="py-24 bg-rose text-center md:text-left">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row items-center md:items-start gap-10">
    <!-- Columna de la imagen -->
    {aboutMe.photo && (
      <div class="relative flex-shrink-0">
        <!-- Imagen por defecto -->
        <img
          src={aboutMe.photo || "/images/iconUser.png"} 
          alt={`Foto de ${aboutMe.name}`}
          class="rounded-full w-48 h-48 sm:w-60 sm:h-60 object-cover shadow-lg transition-all duration-300 ease-in-out"
        />
        <!-- Imagen que aparece al hacer hover -->
        <img
          src="/images/diana2.png" 
          alt={`Foto alternativa de ${aboutMe.name}`}
          class="absolute inset-0 rounded-full w-full h-full object-cover opacity-0 transition-opacity duration-300 ease-in-out hover:opacity-100"
        />
      </div>
    )}

    <!-- Columna del texto -->
    <div>
      <!-- Título -->
      <h2 class="text-4xl font-poppins font-bold text-brown mb-6">
        {aboutMe?.title || "Sobre Mí"}
      </h2>

      <!-- Nombre -->
      <h3 class="text-2xl font-poppins font-semibold text-green mb-4">
        {aboutMe?.name || "Diana Pascual García"}
      </h3>

      <!-- Profesión -->
      <p class="text-xl font-bold font-poppins text-brown mb-4">
        {aboutMe?.profession || "Desarrolladora de Software"}
      </p>

      <!-- Descripción -->
      <p class="text-lg md:text-xl font-montserrat text-brown text-justify leading-relaxed">
        {aboutMe?.description ||
          "Soy una apasionada desarrolladora de software con un enfoque en crear soluciones innovadoras."}
      </p>
    </div>
  </div>
</section>


