---
// Desestructuramos la propiedad 'footer' desde 'Astro.props' para acceder a la información del pie de página
const { footer } = Astro.props;
---
<footer class="bg-blue-600 p-4 text-white">
  <!-- Descripción del pie de página, si no se pasa 'footer.copyright', se usa la predeterminada -->
  <p class="text-center">{footer?.copyright || "© Todos los derechos reservados"}</p>
</footer>

