---

import type { ProjectModel } from '../types/ProjectModel';

const { projectContent, testMode } = Astro.props as { projectContent: ProjectModel, testMode: boolean }; 


---

<section id="project" class="py-10 bg-blue-100">
  <h2 class="text-3xl font-bold mb-4">
    {projectContent.projectName}
  </h2>
  <p class="text-lg">{projectContent.description || "No description"}</p>
  <p>
    <strong>Tech:</strong> {projectContent.technologies.length > 0 ? projectContent.technologies.join(", ") : "No includes"}
  </p>
  {projectContent.repositoryUrl && (
    <a class="text-blue-500 hover:underline" href={projectContent.repositoryUrl}>
      RepositoryUrl
    </a>
  )}

  {projectContent.picture && (
    <img
      src={projectContent.picture}
      alt={`Imagen de ${projectContent.projectName}`}
      class="w-32 h-32 object-cover rounded-lg shadow-md mx-auto mt-4"
    />
  )}
  
</section>

