---
const { title = "Portfolio CV", layoutLang, navbar, footer } = Astro.props;
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<!-- Define el idioma de la página para accesibilidad y SEO -->
<html lang={layoutLang}> 
  <head>
    <!-- Especifica la codificación de caracteres para soportar caracteres especiales -->
    <meta charset="UTF-8" /> 
    <!-- Permite que la página se adapte correctamente a dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Título dinámico de la página, se obtiene de las props -->
    <title>{title}</title> 
  </head>
  <body class="bg-gray-100 font-poppins">
    <!-- Barra de navegación: Importa y renderiza el componente Navbar, que recibe los datos desde las props -->
    <Navbar navbar={navbar} />

    <!-- Contenido principal: Aquí se inserta el contenido dinámico de las páginas hijas -->
    <main>
      <slot />
    </main>
    <!-- Pie de página: Importa y renderiza el componente Footer, que también recibe datos desde las props -->
    <Footer footer={footer} />
  </body>
</html>

